<header>
  <img src="http://static1.squarespace.com/static/55a483f6e4b0fcb903661118/t/55ad3f55e4b0c824217c49ba/1437417302856/" alt="image of people throwing frisbees" id='banner' />
</header>
<nav class='navbar navbar-inverse'>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">{{#link-to 'index'}}Musty Book Trader{{/link-to}}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>{{#link-to 'checkout'}}Cart{{/link-to}}</li>
        </ul>
    </div>
</nav>
{{outlet}}
